name: 'Integration test (Linux)'

on:
  workflow_run:
    workflows:
      workflows: ["Build & Test (Linux)"]
      types:
        - completed
  workflow_dispatch:


jobs:
  test-sglang-integration:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      actions: read 
      contents: read
    env:
      tone_user_name: ${{ secrets.TONE_USER_NAME }}
      HEAD_SHA: ${{ github.event.workflow_run.head_sha }}
      RUN_ID: ${{ github.event.workflow_run.id }}
    steps:
      - name: trigger T-one test
        if: ${{ env.tone_user_name != '' }}
        run: |
          max_attempts=10
          attempt=1
          while [ $attempt -le $max_attempts ]; do
            echo "Attempt $attempt: Fetching artifact..."
            if curl -L -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/${{ github.repository }}/actions/runs/${RUN_ID}/artifacts > artifact.json; then
              artifact_id=$(jq -r ".artifacts[] | select(.name | contains(\"py312\") ) | .id" artifact.json | head -n 1)
              if [ -n "$artifact_id" ]; then
                echo "Successfully fetched expected artifact id $artifact_id"
                break
              else
                echo "Failed to fetch expected artifact. Retrying..."
                if [ $attempt -lt $max_attempts ]; then
                  sleep $((attempt * 60))
                fi
              fi
            else
              echo "Failed to fetch artifacts. Retrying..."
              if [ $attempt -lt $max_attempts ]; then
                sleep $((attempt * 60))
              fi
            fi
            attempt=$((attempt + 1))
          done
          if [ $attempt -gt $max_attempts ]; then
            echo "Failed to fetch artifacts after $max_attempts attempts"
            exit 1
          fi
          signature="${{ secrets.TONE_USER_NAME }}|${{ secrets.TONE_USER_TOKEN }}|$(python3 -c "import time;print(time.time())")"
          signature="$(python3 -c "import base64;print(base64.b64encode(\"$signature\".encode('utf-8')).decode('utf-8'))")"
          curl -s -H 'Content-Type: application/json' -X POST -d "{\"workspace\":\"mooncake_test\",\"project\":\"mooncake-ci\",\"template\":\"mooncake-ci-test\",\"name\":\"mooncake-ci-${HEAD_SHA}\",\"username\":\"${{ secrets.TONE_USER_NAME }}\",\"env_ifs\":\" \",\"env_info\":\"ARTIFACT_ID=${artifact_id} GIT_REPO=${{ github.repository }}\",\"signature\":\"$signature\"}" https://tone.openanolis.cn/api/job/create/ > job.json
          if [ "$(jq .code job.json)" == 200 ]; then
            echo "job created"
          else
            echo "job create failed"
            exit 1
          fi
          job_id=$(jq .data.id job.json)
          echo "check job status here and remember to cancel it before restart the job !"
          echo "job_url: https://tone.openanolis.cn/ws/gclfnh19/test_result/${job_id}?tab=4"
          echo "job_id=${job_id}" >> $GITHUB_ENV
        shell: bash

      - name: qurey job results
        if: ${{ env.tone_user_name != '' }}
        run: |
          time=0
          while true; do
            if [ $time -gt 720 ]; then
              echo "timeout"
              exit 1
            fi
            signature="${{ secrets.TONE_USER_NAME }}|${{ secrets.TONE_USER_TOKEN }}|$(python3 -c "import time;print(time.time())")"
            signature="$(python3 -c "import base64;print(base64.b64encode(\"$signature\".encode('utf-8')).decode('utf-8'))")"
            curl -s -H 'Content-Type: application/json' -X POST -d "{\"username\":\"${{ secrets.TONE_USER_NAME }}\", \"signature\":\"$signature\", \"job_id\": \"${job_id}\"}" https://tone.openanolis.cn/api/job/query/ > job_status.json
            if ! [ "$(jq .code job_status.json)" == 200 ]; then
              echo "job query failed"
              exit 1
            fi
            job_status=$(jq .data.job_second_state job_status.json)
            if [[ $job_status =~ "pass" ]]; then
              echo "job successful !"
              exit 0
            elif [[ $job_status =~ "fail" ]] ; then
              echo "job failed or stopped !"
              exit 1
            fi
            time=$(( time + 1))
            sleep 10
          done
        shell: bash